.App {
  text-align: center;


}
body{
  margin: 0;
  padding: 0;

}

/* Nav Bar Section */
nav{
 
  overflow: hidden;
  padding-left: 1rem;
  /* border-bottom: 2px solid rgba(233, 204, 44, 0.3); */
  height: 10rem;
}
nav a{
  float: right;
  color: #0ca2e2;
  text-align: center;
  padding: 2.5rem 10px;
  text-decoration: none;
  font-size: 1.5rem;
  margin-top: 40px;
  font-family: 'Scope One', serif;

}
nav img{
  float: left;
  width: 16%;
  margin-top: -1rem;
  /* color: rgb(219, 152, 9); */
  /* margin: 16px 0 0 0; */
}
h2{
  text-decoration: underline;
}
nav a:hover{
  /* background-color: rgb(219, 152, 9); */
  color: black;
}
nav a.active{
  background-color: #d89c0f;
  color: white;
}
h1{
  /* need diff font */
  font-family: 'Paprika', cursive;
  text-align: center;
  padding-top: 15px;

  font-size: 3rem;
}
h1 span{
  color: black;
}
/* Nav Bar Section */